{# OpenVLA VLA-only template: only user messages are rendered.
   System/assistant turns are not used in the VLA action prediction API. #}
{{ bos_token }}{%- for message in messages -%}
    {%- if message['role'] == 'user' -%}
        {%- if message['content'] is string -%}
            {{- message['content'] -}}
        {%- else -%}
            {%- for item in message['content'] if item['type'] == 'image' -%}
                {{- '<PAD>' -}}
            {%- endfor -%}
            {%- for item in message['content'] if item['type'] == 'text' -%}
                {{- item['text'] -}}
            {%- endfor -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
